@import "../variables.scss";

.nav {
  background-color: $purple-primary;
  padding: 1.6rem 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  filter: invert(1);
}

.mobile-nav {
  background-color: $purple-primary;
  display: flex;
  transform: translateX(-100%);
  align-items: center;
  transition: transform 1s ease;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.show-mobile-nav {
  transform: translateX(0);
}

.desktop-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-items {
  color: $offwhite;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.desktop-nav-items {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.mobile-nav-items {
  flex-direction: column;
  height: 40vh;
}

.hamburger-line {
  background-color: $offwhite;
  border-radius: 0.4rem;
}

.mobile-nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
